html {
    height: 100%;
}

body {
    position: relative;
    min-height: 100%;
    height: 100%;
    background-color: lightgreen;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 72px;
    text-transform: uppercase;
}

h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 42px;
    text-transform: uppercase;
}

.flex-box-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 100%;
    width: 100%;
}

/* BEGIN PLAYER SECTION */

.player-container {
    position: absolute;
    z-index: -1;
    display: flex;
    height: 100%;
    bottom: 0px;
}

.player-side {
    width :50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-side-left {
    background-color: mistyrose;
}

.player-side-right {
    background-color: lightcyan;
}

/* BEGIN CHARACTER SELECT */

#ul-player-select {
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 224px;
    height: auto;
    border: 3px solid black;
    cursor: pointer;
}

.li-player-select {
    display: block;
    width: 50px;
    height: 50px;
    border: 3px solid black;
    background-color: lightgrey;
}

.li-player-select:hover {
    background-color: lightslategray;
}

/* BEGIN EFFECTS */

.black-and-white {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}